<nav class="navbar">
    <ul>
        <li>
            <form action="/accueil" method="get">
            <button type="submit">Accueil</button>
            </form>
        </li>

        <li>
            <form action="/logout" method="post"> 
                <button type="submit" class="logout-button">Déconnexion</button>
            </form>
        </li>

        <li> 
            <form action="/missions" method="get"> 
          <button type="submit">Validation des missions</button>
            </form>
        </li>

        <li>
            <form action="/paiements" method="get"> 
            <button type="submit">Paiement des frais</button>
            </form>
        </li>

        <li>
            <form action="/parametrages" method="get"> 
            <button type="submit">Parametrages</button>
            </form>
        </li>

      
        
    </ul>
</nav>